

#portfolio {
	display: none;
}

#resume {
	display: none;
}

#contact {
	display: none;
}

#about-me {
	display: none;
}

body {
	background-color: orange;
}

div#portfolio.container {
	margin: 1px;
	padding: 1px;
}