#pheader {
	padding: 1px;
	margin: 1px;
}
#name-header {
	padding-bottom: 1px;
	margin-bottom: 1px;
	border-bottom: 1px;
}
#portfolio {
	display: none;
}

#resume {
	display: none;
	background-color: ghostwhite;
}

#contact {
	display: none;
}

#about-me {
	display: none;
}

body {
	background-color: darkgrey;
}

div#portfolio.container {
	margin: 1px;
	padding: 1px;
}

header {
	background-color: black;
	color: lightgrey;
}

#side-panel {
	margin-top: 20px;
	margin-bottom: 40px;
}

.resume-heading {
	color: dodgerblue;
}

.right-column {
text-align: right;
}